body{
  background-color: #01052E;;
  display: flex;
  flex-direction: row;
}

h2{
  color: #7a9bba;
  font-family: 'Roboto', sans-serif;
}

h2.title{
  text-align: center;
}

#player{
  width: 50%;
  border:solid;
  border-width: thin;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 2px #6627aa;
  margin: 10px;
}

#main{
  width: 50%;
}

.contentContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow-x: scroll;
}

.media {
  height: auto;
  min-width: 150px;
  background-color: #081b70;
  color: #c81cbb;
  margin-left:10px;
  font-family: 'Roboto', sans-serif;
}

.media:hover {
  background-color: grey;
}
